@* settings Template File *@
@()(implicit reqHeader:views.MyRequestHeader)

@base.race {
  <div class="col-sm-12" ng-controller="RaceCarController">
	<h2>Race Cars</h2>
	<hr/>
	<a class="btn btn-primary" ng-click="open(true)">Add Race Car</a>  	

	<script type="text/ng-template" id="addRaceCarTemplate.html">
<form name="frmAddCar" class="form-horizontal" >
        <div class="modal-header">
            <h3 class="modal-title"> Race Car</h3>
        </div>
        <div class="modal-body">
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Name*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="item.name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Torque Device Id*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="item.deviceId" required>
    </div>
  </div>

  <div class="form-group">
    <h4 class="text-center">Car Meta Data</h4>
    <hr/>
    <div class="col-sm-6">
	      <label class="control-label">make</label> <div> <input class="form-control" type="text" ng-model="item.carMake"> </div>
	      <label class="control-label">model</label> <div> <input class="form-control" type="text" ng-model="item.carModel"> </div>
	      <label class="control-label">engine(cc)</label> <div> <input class="form-control" type="text" ng-model="item.engineCC"> </div>

    </div>
    <div class="col-sm-6">
	      <label class="control-label">weight(kg)</label> <div> <input class="form-control" type="text" ng-model="item.carWeight"> </div>
	      <label class="control-label">class(sport/sedan/race)</label> <div> <input class="form-control" type="text" ng-model="item.carClass"> </div>
	      <label class="control-label">drive</label> <div> <select class="form-control" ng-model="item.drive" ng-options="drive for drive in drives" ></select> </div>
    </div>

  </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="!frmAddCar.$valid" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</form>
     </script>
	<p ng-show="racecars.length == 0"><br/>There is no race car created yet</p>
	<div ng-repeat="racecar in racecars">
	  <div class="col-sm-3">
	    <h4>{{racecar.name}}</h4>
	    <hr/>
	    <dl>
	      <dt>uploadId</dt><dd>{{racecar.uploadId}}</dd>
	      <dt>deviceId</dt><dd>{{racecar.deviceId}}</dd>
	      <dt>make</dt> <dd>{{racecar.carMake}}</dd>
	      <dt>model</dt> <dd>{{racecar.carModel}}</dd>
	      <dt>engine(cc)</dt> <dd>{{racecar.engineCC}}</dd>
	      <dt>weight(kg)</dt> <dd>{{racecar.carWeight}}</dd>
	      <dt>class</dt> <dd>{{racecar.carClass}}</dd>
	      <dt>drive</dt> <dd>{{racecar.drive}}</dd>
	      <dt>last uploaded</dt><dd></dd>
	    </dl>
	    <a class="btn btn-sm btn-default" ng-click="editRaceCar(racecar)" >edit</a> <a class="btn btn-sm btn-default" ng-click="deleteRaceCar(racecar.id)">delete</a>
	  </div>
	</div>
	
	<div class="clear"></div>
	<div class="col-sm-12">
	<hr/>
	<a href="/assets/analytics/index.html#/dashboard/file/racing.json^" class="text-center btn btn-success">Realtime Info</a>
	<br/><br/><br/><br/>
	</div>
	
  </div>
}